.navbar {
  padding: 12px 20px;
  background-color: #e2d1f9;
  color: #317773;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 20px 0px #e2d1f9;
}

.navbar a {
  color: #317773;
  border: 2px solid #317773;
  border-radius: 5px;
  padding: 0px 10px;
  font-style: italic;
}

.navbar h1 {
  font-size: 24px;
}

.navbar button {
  padding: 0px 5px;
  border: 2px solid #317773;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #317773;
  color: #e2d1f9;
}

.navbar a:hover {
  background-color: #317773;
  color: #e2d1f9;
}

.changeNavbar h1 {
  font-size: 24px;
}

.changeNavbar {
  padding: 12px 20px;
  background-color: #e2d1f9;
  color: #317773;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 20px 0px #e2d1f9;
}

.changeNavbar a {
  width: 300px;
  border: 2px solid #317773;
  border-radius: 5px;
  padding: 0px 10px;
  color: #317773;
  font-style: italic;
  font-size: 12px;
}

.changeNavbar a:hover {
  background-color: #317773;
  color: #e2d1f9;
}
